// Основные цвета KeyMarket (можно переиспользовать во всех компонентах)

// Акцентный цвет
$color-primary: #722ed1;

// Фоны
$bg-body: #1f1f1f;
$bg-header: #141414;
$bg-card: #2a2a2a;

// Текст
$text-primary: #ffffff;
$text-secondary: #b0b0b0;